*{
    font-family: "Orbitron";
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    margin: 10px;
    overflow: hidden;
}
nav div img{
    width:10px;
    height: auto;
    margin-top:30px ;
}
button{
    cursor:pointer;
}
.navbar-container{
    margin: auto;
    width: 85%;
    display:flex;
    position: relative;
    justify-content: space-between;
}

.navbar-container{
    margin-top: 20px;
    margin-left: 30px;
}

.navbar-container ul li{
    display: inline-block;
    margin: 0 20px;
}

.hero-container div>img{

 position: relative;
 bottom:410px;
 left:80px;
 height:500px;
 width:auto;
 
}
.square{
    height:150px;
    width:50px;
    position:relative;
    left:135px;
    top:170px;
}

.globe{
    position: absolute;
    right:620px;
    top:120px;

}
.globe img{
    height:60px;
    width:60px;
}
.star{
    position:relative;
    left:240px;
    top:100px;
    width:40px;
    height:5px;
}
.star img{
    width:40px;

}
.navbar-container div>img{
    width:160px;
}
.hero-container-right{
    position:relative;
    width:650px;
    height:600px; 
    position: relative;
    left:650px;
    bottom:800px;
}
.hero-container-right h1{
    font-size: 45px;
    text-align: center;
}

.hero-container{
    margin-top: 30px;
}

.nav-button{
    border:2px solid black;
    border-radius: 10px;
    height:40px;
    width:150px;
    position: relative;
    top:34px;
    left:130px;
}
.nav-button:hover{
    background-color: black;
    color:white;
    font-size: medium;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
}
.search-icon{
    height:10px;
    width: 5px;
    position: relative;
    right:45px;
    top:50px;
    left:90px;
}
.list{
    text-transform: uppercase;
    font-size: medium;
    font-weight: 900;
   

}
.list-item:hover{
  text-decoration: underline;
  cursor: pointer;
}
.hero-container-right{
  
     font-size:15px;

}
.button-email{
    height:30px;
    width:160px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border:3px solid black;
    border-radius: 10px;
    position: relative;
    left:260px;
    top:10px;
}
.button-join{
    height:30px;
    width:160px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border:3px solid black;
    border-radius: 10px;
    position: relative;
    left:260px;
    top:10px; 
    background-color:black;
    color:white;
}
.hero-description+div{
    position: relative;
    right:70px;
}
.list{
    position: relative;
    top:40px;
}
.icons:hover{
    cursor:grab;
}
.icons{
    position: relative;
    left:250px;
    top:130px;
    letter-spacing: 1em;
}
.hero-description{
    text-align: center;
    margin-top: 20px;
}
.button-email,.button-join{
    margin-top: 30px;
}
.contact-heading{
    position: relative;
    top:110px;
    left:300px;
}
